body { background: #162e6e; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 10px; display: flex; }
.block-helper-0 { color: #48c897; font-size: 21px; margin-bottom: 5px; }
.block-user-1 { color: #8b443c; font-size: 14px; margin-bottom: 5px; }
.block-metrics-2 { color: #8148a6; font-size: 17px; margin-bottom: 5px; }
.block-sms-3 { color: #4b9432; font-size: 21px; margin-bottom: 5px; }
.block-product-4 { color: #a95a9a; font-size: 14px; margin-bottom: 5px; }